.modalBackdrop {
  @apply overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full h-full flex p-4;

  background: rgba(0, 0, 0, 0.9);
}

.modalWrapper {
  @apply p-4 w-full max-w-2xl m-auto bg-white opacity-90;
}

.formWrapper {
  @apply w-full bg-white px-8 pb-2;
}

.fromLabel {
  @apply block text-gray-700 text-sm font-bold mb-2;
}

.formField {
  display: flex;
  align-items: center;
  gap: 4px;
  margin: 8px 0;
}

.factorField {
  width: 50%;
  transition: all 1s;

  background-color: #4caf50;
  height: 20px;
}

.factorField1 {
  background-color: #4caf50;
  height: 10px;
}

.factorField2 {
  background-color: #ffc107;
  height: 12px;
}

.factorField3 {
  background-color: #f44336;
  height: 14px;
}

.factorLabel {
  width: 30px;
  font-weight: 600;
  transition: all 1s;
  text-shadow: #000 1px 1px 2px;
}

.factorLabel1 {
  color: #4caf50;
  font-size: 18px;
}

.factorLabel2 {
  color: #ffc107;
  font-size: 20px;
}

.factorLabel3 {
  color: #f44336;
  font-size: 22px;
}

.formInput {
  @apply shadow appearance-none border w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none;
  width: 50%;
}

.formBtnCancel {
  @apply text-gray-500 bg-white hover:bg-gray-100 border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10;
}

.formBtnSubmit {
  @apply text-black font-medium text-sm px-5 py-2.5 text-center border border-gray-200 bg-yellow-500 hover:bg-yellow-600;
}
