@use 'sass:color';
@use '../../shared/styles/variables.scss';
@use '../../shared/styles/mixins.scss';

.mainWrapper {
    width: 90%;
    max-width: 36rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    align-items: center;
    padding: 3rem 0;
}

.sectionWrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding: 1rem;
    background: color.adjust(variables.$color-dark, $lightness: -1%);

    h2 {
        text-align: center;
    }
}

.sectionHeader {
    color: variables.$color-primary;

    &:hover {
        cursor: pointer;
        color: color.adjust(variables.$color-primary, $lightness: 10%);
    }
}

.modeIcon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    transition: transform 0.2s ease-in-out;
    z-index: 1000;

    &:hover {
        cursor: pointer;
        transform: rotate(10deg) scale(1.1);
    }
}
