@use 'variables.scss';

@mixin boxShadow {
    box-shadow: 2px 2px 10px 0px variables.$color-dark;
}

@mixin boxShadowSmall {
    box-shadow: 1px 1px 5px 0px variables.$color-dark;
}

@mixin textShadow {
    text-shadow: variables.$color-dark 2px 2px 4px;
}
