@import './variables.scss';

a {
    color: inherit;
    text-decoration: none;
}

button {
    border: none;
    cursor: pointer;
}

.subtitle {
    font-size: 20px;
    font-weight: 500;
}

.inline {
    display: inline;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.primary {
    color: $color-primary;
}

.dark {
    color: $color-dark;
}

.light {
    color: $color-light;
}

.gone {
    display: none;
}

.disabled {
    cursor: default;
    opacity: 0.7;
    filter: grayscale(0.4);
}
