@import './forms.scss';
@import './modals.scss';

:root {
  --clr-light-500: #f5f5f5;
  --clr-dark-300: #334155;
  --clr-dark-500: #1e293b;
  --clr-dark-900: #000;
  --clr-primary-500: #38bdf8;
  --clr-primary-700: #0ea5e9;
  --clr-secondary-500: #fde047;
  --clr-secondary-700: #facc15;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--clr-dark-300);
  letter-spacing: 0.5px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

*::selection {
  color: var(--clr-dark-500);
  background: rgba(250, 204, 21, 0.9);
  outline: none;
}

*:focus {
  outline: none;
}

::-webkit-scrollbar {
  height: 0.4rem;
  width: 0.4rem;
  border: 1px solid white;
  background: var(--clr-light-500);
}
::-webkit-scrollbar-thumb {
  background-color: var(--clr-secondary-500);
}
::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background-color: var(--clr-secondary-700);
}
