.confirmWrapper {
    padding-top: 2rem;
    text-align: center;

    p {
        margin: 1rem 0;
    }
}

.btnWrapper {
    margin: 1rem 0;
    display: flex;
    gap: 1rem;

    button {
        width: 50%;
    }
}
