.exerciseItem {
    @apply my-1 py-1 px-4 w-full m-auto shadow-sm flex flex-col items-center font-semibold;

    opacity: 0.92;
    background-color: var(--clr-dark-500);
    color: var(--clr-light-500);
    border: 2px solid var(--clr-light-500);
}

.exerciseItem:hover {
    opacity: 1;
    background-color: var(--clr-dark-500);
    color: var(--clr-light-500);
}
