.daysWrapper {
    @apply w-full m-auto p-4 flex flex-col sm:flex-row gap-2 items-stretch justify-center;

    max-width: 1200px;
    min-height: 200px;
}

.dayWrapper {
    width: 100%;
    text-align: center;
    position: relative;
}

.dayWrapper:nth-child(n) > div {
    height: 100%;
}

.standbyWrapper {
    @apply w-full m-auto flex flex-col sm:flex-row items-stretch justify-center;

    max-width: 1200px;
    margin-bottom: 100px;
}

.standbyListWrapper {
    @apply w-full m-auto p-4 pt-0 flex flex-row sm:flex-row gap-2 items-stretch justify-start;

    max-width: 1200px;
    width: calc(100% - 2rem);
    padding: 0rem 0rem 1rem 0rem;
    overflow-x: auto;
}

.standbyItem {
    @apply max-w-full min-w-full sm:max-w-sm sm:min-w-max;
}

.dayNameInput {
    @apply bg-transparent border-neutral-100 text-neutral-100 outline-none w-full text-lg font-semibold text-center;

    width: 90%;
    margin: 9px auto 6px auto;
    border-bottom: 1px dashed;
}

@media (min-width: 640px) {
    .standbyItem {
        min-width: calc((100% - 16px) / 3);
    }
}
