@use '../../../shared/styles/variables.scss';
@use '../../../shared/styles/mixins.scss';

.playerCardWrapper {
    @include mixins.boxShadow;

    width: 100%;
    position: relative;
    opacity: 0.9;
    background: variables.$color-dark;
    color: variables.$color-light;
    border: 2px solid variables.$color-light;
    padding: 0.25rem 0.5rem;

    .playerCardWrapperActive {
        opacity: 1;
        border: 3px solid variables.$color-primary;
    }

    .updatePointsBtn {
        position: absolute;
        top: 0.25rem;
        right: 0.25rem;
        cursor: pointer;
        background: none;
        border: none;
    }

    hr {
        margin: 0.25rem 0;
    }
}
