@use 'sass:color';
@use 'variables.scss';
@use 'mixins.scss';

.formWrapper {
    position: relative;
    padding: 2rem 1rem;
    background: variables.$color-light;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: left;

    fieldset {
        width: 100%;
        border: none;
        margin-bottom: 0.5rem;
    }
}

.formLabel {
    font-size: 15px;
    margin-bottom: 0.5rem;
    font-weight: 600;
    display: block;
}

.formInput {
    @include mixins.boxShadowSmall;

    width: 100%;
    appearance: none;
    padding: 0.5rem;
    border: 1px solid color.adjust(variables.$color-light, $lightness: -25%);
}

.formActionsWrapper {
    display: flex;
    margin-top: 1rem;
    gap: 1rem;

    button {
        width: 100%;
    }
}

.formBtnSubmit {
    @include mixins.boxShadowSmall;

    font-weight: 500;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    text-align: center;
    border: 1px solid color.adjust(variables.$color-dark, $lightness: 20%);
    background: color.adjust(variables.$color-primary, $lightness: -10%);

    &:hover {
        cursor: pointer;
        font-weight: 600;
        background: color.adjust(variables.$color-primary, $lightness: -15%);
    }
}

.formBtnCancel {
    @include mixins.boxShadowSmall;

    font-weight: 500;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    text-align: center;
    border: 1px solid color.adjust(variables.$color-dark, $lightness: 20%);
    background: color.adjust(variables.$color-light, $lightness: -10%);

    &:hover {
        cursor: pointer;
        font-weight: 600;
        background: color.adjust(variables.$color-light, $lightness: -15%);
    }
}

.formError {
    margin: 0.25rem;
    font-size: 14px;
    font-weight: 600;
    color: variables.$color-error;
}
