.sectionWrapper {
    @apply max-w-2xl w-11/12 m-auto mt-8 border-y;
}

.revealIcon {
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.revealIconClose {
    transform: rotate(-180deg);
}

.formBtn {
    @apply px-5 py-2.5 my-4;
    @apply mr-2 text-sm text-black font-medium text-center bg-yellow-500 hover:bg-yellow-600
}
