.daysWrapper {
    @apply w-full m-auto p-4 flex flex-col sm:flex-row gap-2 items-stretch justify-center;

    max-width: 1200px;
    min-height: 200px;
}

.dayWrapper {
    width: 100%;
}

.standbyWrapper {
    @apply w-full sm:w-1/3 m-auto p-4 text-center;

    max-height: 400px;
    overflow-y: scroll;
}

.standbyWrapper::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
