@use "sass:color";
@use "../../shared/styles/variables.scss";
@use "../../shared/styles/mixins.scss";

.mainWrapper {
    position: relative;
    width: 90%;
    max-width: 36rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    align-items: center;
    padding: 3rem 0;
}

.noteWrapper {
    z-index: 1000;
    position: absolute;
    top: 7rem;
    width: 100%;
    max-width: 700px;
    max-height: 70vh;
    aspect-ratio: 1.54;
    padding: 1rem;
    text-align: center;
    color: variables.$color-secondary;
    background: rgba(variables.$color-dark, 0.6);

    p {
        margin-bottom: 1rem;
        font-size: 200px;
        line-height: 150px;
        text-shadow: 12px 8px 8px variables.$color-dark;
    }

    b {
        font-size: 24px;
        text-shadow: 4px 2px 2px variables.$color-dark;
    }
}

.actionsWrapper {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
}

.actionButton {
    @include mixins.boxShadowSmall;

    height: 3rem;
    flex: 1;
    font-weight: 500;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    text-align: center;
    border: 1px solid color.adjust(variables.$color-dark, $lightness: 20%);
    background: color.adjust(variables.$color-primary, $lightness: -10%);

    &:hover {
        cursor: pointer;
        font-weight: 600;
        background: color.adjust(variables.$color-primary, $lightness: -15%);
    }
}

.actionSecondary {
    @include mixins.boxShadowSmall;

    height: 3rem;
    flex: 1;
    font-weight: 500;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    text-align: center;
    border: 1px solid color.adjust(variables.$color-primary, $lightness: 20%);
    background: color.adjust(variables.$color-dark, $lightness: -10%);

    &:hover {
        cursor: pointer;
        font-weight: 600;
        background: color.adjust(variables.$color-primary, $lightness: -15%);
    }
}
