@use '../../../shared/styles/variables.scss';
@use '../../../shared/styles/mixins.scss';

.taskItem {
    @include mixins.boxShadow;

    max-width: 100%;
    width: 100%;
    position: relative;
    margin: 0.25rem 0;
    padding: 0.25rem;
    opacity: 0.92;
    background: variables.$color-dark;
    color: variables.$color-light;
    border: 1px solid variables.$color-light;

    &:hover {
        opacity: 1;
        cursor: grab;
    }
}

.actionIcon {
    position: absolute;
    cursor: pointer;
}
