@use '../../../shared/styles/variables.scss';
@use '../../../shared/styles/mixins.scss';

.taskGroupWrapperEdit {
    padding: 1rem;
    border: 1px dashed variables.$color-light;
}

.taskGroupWrapperMultiple {
    margin: 4px 0;
    padding: 4px 6px;
    border: 1px dashed variables.$color-secondary;
}
